{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<div class="loader center" id="loading" >
    <img src="{% static 'img/loading.gif' %}">
</div>
<div class="right" >
    <a href="" onclick="loaderData(2);"><i class="small material-icons deep-orange-text text-lighten-2">autorenew</i></a>
    <a href="{% static 'files/imdb.csv'%}"><i class="small material-icons deep-orange-text text-lighten-2">file_download</i></a>
</div>

<div id="content">
    <h3><i class="material-icons">chevron_right</i>IMDb</h3>
    <div class="row">
        <div class="col s8 push-s2">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Weekend</th>
                        <th>Gross</th>
                        <th>Week</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}

                    <tr>
                        <td>{{ result.title }}</td>
                        <td>{{ result.weekend }}</td>
                        <td>{{ result.gross }}</td>
                        <td>{{ result.weeks }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}